<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Bayun</title>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
                <script src="/static/scripts/bayun.js"></script>
                <!-- <script src="{{ url_for('static', filename = 'bayun.js') }}"></script> -->

        </head>
        <body>
                <H1> Hello Tianping </H1>

                <script type="text/javascript">
                        $("H1").click(function() {
                        alert("Hi");
                        })
                </script>

                <H2> This is new Tian Ping </H2>

                <p> <img id=scallet src="/static/images/scallet.jpg" alt="scallet"> </p>
                <p> <img src="/static/images/JC.jpg" alt="jennifer connelly"> </p>
                <p> <a href="/static/SCHEDULE.md"><em>SCHEDULE</em></a></p>
        </body>
</html>
