<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>八韵小说</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="css/style.css" type="text/css">
        </head>
        <body>
                <div class="guide">
                        <p>
                        <img src="images/logo.png" alt="logo" width="5%" style="vertical-align: middle;">
                        <a id="website" href="#anchor" style="margin-left: 2%">
                                八韵小说网
                        </a>
                        <a class="guide_right" href="html/bookshelf.html" target="_blank">我的书架</a>
                        <a class="guide_right" href="html/login.html" target="_blank">登录</a>
                        </p>
                </div>

                <div class="banna">
                                <span>
                                <img class="banna_img" src="images/banna_1.png" width="100%" >
                                </span>
                </div>

                <img class="menu" src="images/menu.png" alt="menu">

                <img class="menu" src="images/img_group.png" alt="img_group">

                <h2>打榜强推</h2>

                        <img class="menu" src="images/recommend.png" alt="recommend">

                        <h2>24小时热销榜</h2>

                        <p class="novel_list">
                                <span>
                                <img class="novel" src="images/novel_1.png" width="35%">
                                </span>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_2.png" width="35%"></a>
                        <br>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_3.png" width="35%"></a>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_4.png" width="35%"></a>
                        <br>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_1.png" width="35%"></a>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_2.png" width="35%"></a>
                        <br>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_3.png" width="35%"></a>
                        <a href="#anchor" target="_blank">
                                <img class="novel" src="images/novel_4.png" width="35%"></a>
                        </p>

                        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
                        <script src="{{ url_for('static', filename = 'js/bayun.js') }}" ></script>

        </body>
</html>
