<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Bayun</title>
        </head>
        <body>
                <p> <img src="images/scallet.jpg" alt="scallet"> </p>
                <p> <img src="images/JC.jpg" alt="jennifer connelly"> </p>

                <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
                <script src="{{ url_for('static', filename = 'js/bayun.js') }}" ></script>
        </body>
</html>
