{%extends "bootstrap/base.html" %}

{% block head %}
<meta charset="utf-8">
<title> BaYun </title>
<link rel="stylesheet" type="text/css" href="/static/css/test.css">
{% endblock %}

{% block body %}
<!-- Here is for novel information -->
<div>
        <!-- <img src="/static/images/headerLogo.gif"> -->
        <img id="novel_image" src="{{image_path}}">
        <p id="introduction"> {{introduction}} </p>
</div>

<!-- This is for chapters -->

{% for chapter in chapters %}
<div class="chapters" id="{{chapter}}">
        <select id="branch_id">
                {% for branch in chapter %}
                <option id="{{branch}}"> branch </option>
                {% endfor %}
        </select>
</div>
{% endfor %}


{% blcock scripts %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/test.js') }}" ></script>
{% endblock %}

{% endblock %}


<!--  -->
<div class="chapters">
        <select name= “chapter1” id=”id-chapter1”>
                <option> Chap1 </option>
        </select>
</div>
<div class="chapters">
        <select name= “chapter2” id=”id-chapter2”>
                <option> Chap2 </option>
                <option> Chap2-2 </option>
        </select>
</div>
